.projects {
    border: 1px solid orangered;
    color: darkslategray;
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.projects h4 {
    color: orange;
    font-size: 26px;
}
.projects p {
    font-size: 18px;
}
